{{!-- Contenido de página principal --}}

{{!-- Llamado a partial que contiene el menú lateral --}}
{{> navDashboard }}

{{!-- Contenido de la página --}}
<div class="main-content" id="panel">
    {{!-- Llamado a partial que contiene la barra superior --}}
    {{> topnav }}

    {{!-- Contenido de cada opción dentro del dashboard --}}
    <div class="container-fluid mt-4">
        {{!-- Tarjeta de categoría --}}
        <div class="row justify-content-center">
            <div class="col-lg-8">
                {{!-- Lista de categorías disponibles --}}
                <div class="card">
                    {{!-- Card Header --}}
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <!-- Title -->
                                <h5 class="h3 mb-0">Categorías</h5>
                            </div>
                            <div class="col-4 text-right">
                                <a href="/categoria/nueva" class="btn btn-neutral">Añadir</a>
                            </div>
                        </div>
                    </div>
                    {{!-- Card body --}}
                    <div class="card-body">
                        {{!-- Lista de categorías  --}}
                        <ul id="lista-cat" class="list-group list-group-flush list my--3">
                            {{#each categoria}}
                            <li class="list-group-item px-0">
                                <div class="row align-items-center">
                                    {{!-- Imagen --}}
                                    <div class="col-auto">
                                        <a href="#" class="avatar rounded-circle">
                                            <img alt="Image" src="../../assets/img/theme/team-1.jpg">
                                        </a>
                                    </div>
                                    {{!-- Nombre --}}
                                    <div class="col ml--2">
                                        <h4 class="heading mb-0">
                                            <a href="">{{nombre}}</a>
                                        </h4>
                                        <span class="text-success">●</span>
                                        <small>{{descripcion}}</small>
                                    </div>
                                    {{!-- Botón editar --}}
                                    <div class="col-auto">
                                        <button data-id={{url}} name='cat-editar'
                                            class="btn btn-icon btn-outline-info btn-sm btn-primary" type="button">
                                            <span class="btn-inner--icon"><i class="ni ni-ruler-pencil"></i></span>
                                            <span class="btn-inner--text">Editar</span>
                                        </button>
                                    </div>
                                    {{!-- Botón eliminar --}}
                                    <div class="col-auto">
                                        <button data-id={{url}} name='cat-eliminar'
                                            class="btn btn-icon btn-danger btn-sm btn-primary" type="button">
                                            <span class="btn-inner--icon"><i class="fas fa-trash"></i></span>
                                            <span class="btn-inner--text">Eliminar</span>
                                        </button>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-delete-categoria">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar Categoría</h4>
                <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div id="modalBody" class="modal-body">

                <div id="sure" class="form-group">
                    <center>
                        <p>¿Esta seguro que desea eliminar la categoría?</p>
                    </center>
                </div>
            </div>
            <div class="modal-footer">
                <form action="/categoria/eliminar" method="post">
                    <input id="contenedor-id" style="display:none" class="form-control" type="text" name="url">

                    <input id='btn-del-categoria' type="submit" value="Eliminar" class="btn btn-danger">
                </form>
                <button type="button" id="btn-cancelar" class="btn btn-default" data-dismiss="modal"><i
                        class="fa fa-ban"></i> Cancelar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modal-editar-categoria">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Categoría</h4>
                <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
            </div>
            <div id="modalBody" class="modal-body">
                <form id="form-editar" action="/categoria/editar" method="post">
                    <div class="form-group row">
                        <label for="nombre" class="col-md-3 col-form-label form-control-label">Nombre</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" id="txt-nombre" name="nombre"
                                placeholder="Nombre de categoría" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="exampleFormControlTextarea1">Descripción</label>
                        <textarea id="txt-descripcion" class="form-control" id="exampleFormControlTextarea1" rows="3"
                            name="descripcion" required></textarea>
                    </div>

                    {{!-- <button class="btn btn-primary" type="submit">Crear</button> --}}

                    <input type="submit" value="Guardar" class="btn btn-success">
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" id="btn-cancelar" class="btn btn-default" data-dismiss="modal"><i
                        class="fa fa-ban"></i> Cancelar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>