{{!-- Contenido de página de Error 404 --}}

{{!-- Contenido de la página --}}
<div class="main-content bg-default">
    {{!-- Header --}}
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
        {{!-- Separador en diagonal del fondo --}}
        <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 98" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </div>
    {{!-- Separador en diagonal del fondo --}}

    {{!-- Page content --}}
    <div class="container mt--8 pb-5">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="text-center">
                    <img src="/img/theme/Sin título-3.png" class="mx-auto d-block img-fluid" />
                </div>
                <br /><br />
                <div class="text-center mb-2">
                    <a href="/" class="btn btn-primary mt-2">
                        Volver a inicio
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>